<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getMyReplyCount" parameterType="string" resultType="_int">
		select count(*)
		from reply
		where RP_WRITER = #{userId} and RP_DEL = 'N'
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rpNum" column="RP_NUM"/>
		<result property="rpContent" column="RP_CON"/>
		<result property="rpDate" column="RP_DATE"/>
		<result property="rpStatus" column="RP_DEL"/>
		<result property="refNum" column="RP_REFNUM"/>
		<result property="rpWriter" column="RP_WRITER"/>
		<result property="rpConNum" column="RP_CON_NUM"/>
		<result property="rpRp" column="RP_RP"/>
	</resultMap>
	
	<select id="selectMyReplyList" parameterType="string" resultMap="replyResultSet">
		select *
		from reply
     		 join member on(ME_ID = RP_WRITER)
		where RP_WRITER = #{userId} AND RP_DEL = 'N'
		order by RP_DATE DESC
	</select>
</mapper>