<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cBoardMapper">

	<select id="getListCount" parameterType="_int" resultType="_int">
		select count(*)
		from board
		where bo_del='N' and bo_group=#{ boGroup }
	</select>

	
	<select id="getBoardList" resultMap="boardResultSet">
	
		select *
		from board
		where bo_del='N'and bo_group=#{ boGroup }
		order by bo_num desc
		
	</select>
	
	<resultMap type="Board" id="boardResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
		<result property="boReNum" column="BO_RENUM"/>
	</resultMap>
	
	
   <select id="getMyReqOneStepListCount" parameterType="string" resultType="_int">
      select count(*)
      from board
            join cash_board on (BO_NUM = CB_NUM)
      where BO_WRITER = #{userId} and CB_STEP = 1
   </select>
   
   <resultMap type="CBoard" id="CBoardResultSet">
      <id property="boNum" column="BO_NUM"/>
      <result property="boGroup" column="BO_GROUP"/>
      <result property="boTitle" column="BO_TITLE"/>
      <result property="boContent" column="BO_CON"/>
      <result property="boView" column="BO_VIEW"/>
      <result property="boDate" column="BO_DATE"/>
      <result property="boUpdate" column="BO_UPDATE"/>
      <result property="boDel" column="BO_DEL"/>
      <!-- <result property="boWriter" column="BO_WRITER"/> -->
      <result property="boGood" column="BO_GOOD"/>
      <result property="boCategory" column="BO_CATEGORY"/>
      <result property="boReNum" column="BO_RENUM"/>
      <result property="cbStep" column="CB_STEP" />
      <result property="cbSecret" column="CB_SECRET" />
      <result property="cbCash" column="CB_CASH"/>
      <result property="cbCate" column="CB_CATE"/>
      <result property="cbStep1" column="CB_STEP1"/>
      <result property="cbStep2" column="CB_STEP2"/>
      <result property="cbStep3" column="CB_STEP3"/>
      <result property="cbStep4" column="CB_STEP4"/>
      <result property="cbStep5" column="CB_STEP5"/>
      <result property="cbDate" column="CB_DATE"/>
      <result property="cbPrimium" column="CB_PRIMIUM"/>
      
      <result property="boWriter" column="ME_NICK"/>      
   </resultMap>
   
   <select id="selectMyReqOneStepList" parameterType="string" resultMap="CBoardResultSet">
      select *
      from board
            join cash_board on (bo_num = cb_num)
      where bo_writer = #{userId} and cb_step = 1
   </select>
    
   
   <insert id="cBoardInsert1" parameterType="CBoard">
		insert into board
		value
		s (bo_seq.nextval, #{boGroup}, #{boTitle}, #{boContent}, default, default, default, default, #{boWriter}, default, #{boCategory}, default)
	</insert>
	
	<insert id="cBoardInsert2" parameterType="CBoard">
		insert into cash_board
		values (bo_seq.currval, 1, #{cbSecret}, #{cbCash}, 1, #{cbStep1}, #{cbStep2}, #{cbStep3}, #{cbStep4}, #{cbStep5}, #{cbDate}, #{cbPrimium})
	</insert>
	
	<select id="cBoardDetail" parameterType="_int" resultMap="CBoardResultSet">
		select *
		from board
		join cash_board on (board.bo_num = cash_board.cb_num)
		join member on (board.bo_writer = member.me_id)
		where bo_num = #{boNum}
	</select>
	
	<insert id="doRequest" parameterType="Request">
		insert into request
		values (#{reNum}, #{reId}, #{reCash}, 'N', null, sysdate)
	</insert>
	
	<update id="reqCountUp">
		update board 
		set bo_renum = bo_renum + 1 
		where bo_num = #{reNum}
	</update>
	
	<delete id="cancleRequest" parameterType="Request">
		delete from request
		where re_num = #{reNum} and re_id = #{reId}
	</delete>
	
	<update id="reqCountDown">
		update board 
		set bo_renum = bo_renum - 1 
		where bo_num = #{reNum}
	</update>
	
	<resultMap type="Request" id="requestResultSet">
		<id property="reNum" column="RE_NUM"/>
		<!-- <result property="reId" column="RE_ID"/> -->
		<result property="reCash" column="RE_CASH"/>
		<result property="rePlz" column="RE_PLZ"/>
		<result property="reRefNum" column="RE_REFNUM"/>
		<result property="reDate" column="RE_DATE"/>
		<result property="reId" column="ME_NICK"/>
	</resultMap>
	
	<select id="reqList" resultMap="requestResultSet">
		select *
		from request
		join member on (request.re_id = member.me_id)
		where re_num = #{bId}
		order by re_date, me_nick
	</select>
	
	<update id="go2stage1" parameterType="Request">
		update (select * from request, member where me_id = re_id)
		set re_plz = 'Y'
		where re_num = #{reNum} and me_nick = #{reId}
	</update>
	
	<update id="go2stage2" parameterType="Request">
		update cash_board
		set cb_step = 2
		where cb_num = #{reNum}
	</update>
	
</mapper>