<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cBoardMapper">
	<select id="getListCount" parameterType="_int" resultType="_int">
		select count(*)
		from board
		where bo_del='N' and bo_group=#{ boGroup1 }
	</select>

	
	<resultMap type="Board" id="boardResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
	</resultMap>
	
	<resultMap type="CBoard" id="cBoardResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
		<result property="boReNum" column="BO_RENUM"/>
		<result property="boNum" column="CB_NUM"/>
		<result property="cbStep" column="CB_STEP"/>
		<result property="cbSecret" column="CB_SECRET"/>
		<result property="cbCash" column="CB_CASH"/>
		<result property="cbCate" column="CB_CATE"/>
		<result property="cbStep1" column="CB_STEP1"/>
		<result property="cbStep2" column="CB_STEP2"/>
		<result property="cbStep3" column="CB_STEP3"/>
		<result property="cbStep4" column="CB_STEP4"/>
		<result property="cbStep5" column="CB_STEP5"/>
		<result property="cbDate" column="CB_DATE"/>
		<result property="cbPrimium" column="CB_PRIMIUM"/>
	</resultMap>
	

	<select id="getBoardList" resultMap="boardResultSet">
	
		select *
		from board
		where bo_del='N'and bo_group=#{ boGroup1 }
		order by bo_num desc
		
	</select>
	
	
	
	
	
	
	<insert id="cBoardInsert1" parameterType="CBoard">
		insert into board
		values (bo_seq.nextval, #{boGroup}, #{boTitle}, #{boContent}, default, default, default, default, #{boWriter}, default, #{boCategory}, default)
	</insert>
	
	<insert id="cBoardInsert2" parameterType="CBoard">
		insert into cash_board
		values (bo_seq.currval, 1, #{cbSecret}, #{cbCash}, 1, #{cbStep1}, #{cbStep2}, #{cbStep3}, #{cbStep4}, #{cbStep5}, #{cbDate}, #{cbPrimium})
	</insert>
	
	<select id="cBoardDetail" parameterType="_int" resultMap="cBoardResultSet">
		select *
		from board
		join cash_board on (board.bo_num = cash_board.cb_num)
		where bo_num = #{boNum}
	</select>
	
	
	
</mapper>
