<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="contentsMapper">
	<select id="getContents" parameterType="_int" resultMap="ContentsResultSet">
		select *
		from contents
		where con_ref = #{boNum} and con_status = 'Y'
		order by substr(con_cop, 0, 14)
	</select>
	
	<resultMap type="Contents" id="ContentsResultSet">
		<id property="conNum" column="CON_NUM"/>
		<result property="conOri" column="CON_ORI"/>
		<result property="conCop" column="CON_COP"/>
		<result property="conUrl" column="CON_URL"/>
		<result property="conLevel" column="CON_LEVEL"/>
		<result property="conStatus" column="CON_STATUS"/>
		<result property="conRef" column="CON_REF"/>
	</resultMap>
	
	<select id="getReplyContents" resultMap="ContentsResultSet">
		select *
		from contents
		where con_num = #{rpConNum} and con_status = 'Y'
	</select>
	
	<insert id="insertOneContent" parameterType="Contents">
		insert into contents
		values(con_seq.nextval, #{conOri}, #{conCop}, #{conUrl}, null, default, null)
	</insert>
	
	<update id="deleteContent">
		update contents
		set con_status = 'N'
		where con_cop = #{conCop}
	</update>
	
	<update id="deleteContents">
		update contents
		set con_status = 'N'
		where con_ref = #{boNum}
	</update>
	
	<delete id="deleteBoardContents">
		delete from contents
		where con_ref = #{boNum}
	</delete>
	
</mapper>
