<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="selectMember" parameterType="string" resultMap="memberResultSet">
		select *
		from member
		     left join contents on (me_con_num = con_num)
		where me_id=#{userId}
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="userId" column="ME_ID"/>
		<result property="userPwd" column="ME_PW"/>
		<result property="userName" column="ME_NAME"/>
		<result property="phone" column="ME_PHONE"/>
		<result property="nickName" column="ME_NICK"/>
		<result property="email" column="ME_EMAIL"/>
		<result property="intro" column="ME_INTRO"/>
		<result property="enrollDate" column="ME_DATE"/>
		<result property="easy" column="ME_EASY"/>
		<result property="account" column="ME_ACOUNT"/>
		<result property="bank" column="ME_BANK"/>
		<result property="point" column="ME_POINT"/>
		<result property="cash" column="ME_CASH"/>
		<result property="uStatus" column="ME_STATUS"/>
		<result property="grade" column="ME_GRADE"/>
		<result property="recent1" column="ME_RECENT1"/>
		<result property="recent2" column="ME_RECENT2"/>
		<result property="recent3" column="ME_RECENT3"/>
		<result property="recent4" column="ME_RECENT4"/>
		<result property="recent5" column="ME_RECENT5"/>
		<result property="profileImg" column="CON_COP"/>
	</resultMap>
  
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE ME_ID=#{userId}
		AND ME_PW=#{userPwd}
		AND ME_STATUS='Y'
	</select>  

	<!-- 회원가입 쿼리문 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{userId}, #{userPwd}, #{userName}, #{phone}, #{nickName}, #{email}, #{intro}, sysdate, 'N', #{account}, #{bank}, 
		default, default, default, default, default, default, default, default, default, default)
	</insert>
	
	<!-- 아이디 중복 체크  -->
	<select id ="idChk" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID = #{userId}
	</select>

	<!-- 패스워드 중복 체크 -->
	<select id="passChk" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID = #{userId}
		AND USERPASS = #{userPass}
	</select>	
	
	<update id="updateProfileImg" parameterType="Member">
		update member
		set me_con_num = con_seq.currval
		where me_id = #{userId}
	</update>
	
	<insert id="insertContents" parameterType="Contents">
		insert into contents
		values(con_seq.nextval, #{conOri}, #{conCop}, #{conUrl}, null, default, null)
	</insert>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rpNum" column="RP_NUM"/>
		<result property="rpContent" column="RP_CON"/>
		<result property="rpDate" column="RP_DATE"/>
		<result property="rpStatus" column="RP_DEL"/>
		<result property="refNum" column="RP_REFNUM"/>
		<result property="rpWriter" column="RP_WRITER"/>
		<result property="rpConNum" column="RP_CON_NUM"/>
		<result property="rpRp" column="RP_RP"/>
	</resultMap>
	
	<select id="selectRecentlyReply" parameterType="string" resultMap="replyResultSet">
		<![CDATA[
			select *
			from (select *
				  from reply 
				  where RP_WRITER = #{userId} and RP_DEL = 'N'
				  order by RP_NUM DESC) 
			where ROWNUM <= 5
		]]>
	</select>
	
	<select id="selectReqOneStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
		where bo_writer = #{userId} and cb_step = 1 and bo_del = 'N' 
	</select>

	<select id="selectReqTwoStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
		where bo_writer = #{userId} and cb_step = 2 and bo_del = 'N' 
	</select>
	
	<select id="selectReqThreeStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
		where bo_writer = #{userId} and cb_step = 3 and bo_del = 'N' 
	</select>
	
	<select id="selectWorkOneStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
     		 left join request on (bo_num = re_num)
		where re_id = #{userId} and cb_step = 1 and bo_del = 'N' 
	</select>
	
	<select id="selectWorkTwoStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
     		 left join request on (bo_num = re_num)
		where re_id = #{userId} and cb_step = 2 and bo_del = 'N' 
	</select>

	<select id="selectWorkThreeStepCount" parameterType="string" resultType="_int">
		select count(*)
		from board
     		 join cash_board on (BO_NUM = CB_NUM)
     		 left join request on (bo_num = re_num)
		where re_id = #{userId} and cb_step = 3 and bo_del = 'N'  
	</select>					
	
	<resultMap type="Board" id="boardResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
		<result property="boReNum" column="BO_RENUM"/>
	</resultMap>
	
	<select id="selectRecentlyPBoard" parameterType="string" resultMap="boardResultSet">
		<![CDATA[
			select *
			from (select *
				  from board 
				  where bo_writer = #{userId} and bo_del = 'N' and bo_group = 1
				  order by bo_num DESC) 
			where ROWNUM <= 5
		]]>
	</select>
	
	<resultMap type="CBoard" id="CBoardResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<!-- <result property="boWriter" column="BO_WRITER"/> -->
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
		<result property="boReNum" column="BO_RENUM"/>
		<result property="cbStep" column="CB_STEP" />
		<result property="cbSecret" column="CB_SECRET" />
		<result property="cbCash" column="CB_CASH"/>
		<result property="cbCate" column="CB_CATE"/>
		<result property="cbStep1" column="CB_STEP1"/>
		<result property="cbStep2" column="CB_STEP2"/>
		<result property="cbStep3" column="CB_STEP3"/>
		<result property="cbStep4" column="CB_STEP4"/>
		<result property="cbStep5" column="CB_STEP5"/>
		<result property="cbDate" column="CB_DATE"/>
		<result property="cbPrimium" column="CB_PRIMIUM"/>  
		<result property="boWriter" column="ME_NICK"/>      
		<result property="reId" column="RE_ID"/>      
	</resultMap>	
	
	<select id="selectRecentlyCBoard" parameterType="string" resultMap="CBoardResultSet">
		<![CDATA[
			select *
			from (select *
				  from board
                       join cash_board on (bo_num = cb_num)
				  where bo_writer = #{userId} and bo_del = 'N' and bo_group in (2, 3, 4)
				  order by bo_num DESC) 
			where ROWNUM <= 5
		]]>
	</select>
	
	<resultMap type="PointNCash" id="pointNCashResultSet">
		<id property="pcNum" column="PC_NUM"/>
		<result property="pcContent" column="PC_CON"/>
		<result property="pcAmount" column="PC_USE"/>
		<result property="pcDate" column="PC_DATE"/>
		<result property="pcDiv" column="PC_DIV"/>
		<result property="pcId" column="PC_ID"/>
	</resultMap>	
	
	<select id="selectRecentlyCashChange" parameterType="string" resultMap="pointNCashResultSet">
		<![CDATA[
			select *
			from (select *
	      		  from point_cash
	      		  where pc_id = #{userId} and pc_div = 'C'
	      		  order by pc_num DESC) 
			where ROWNUM <= 3
		]]>	
	</select>
	
	<select id="getMyScrapCount" parameterType="string" resultType="_int">
		select count(*)
		from scrap s
     		 left join member m on (s.me_id = m.me_id)
     		 left join board b on (s.bo_num = b.bo_num)
		where s.me_id = #{userId} and bo_del = 'N'
	</select>
	
	<resultMap type="Scrap" id="scrapResultSet">
		<result property="userId" column="ME_ID"/>
		<result property="boNum" column="BO_NUM"/>
		<result property="scrapDate" column="SCRAP_DATE"/>
		<result property="boGroup" column="BO_GROUP"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boUpdate" column="BO_UPDATE"/>
		<result property="boDel" column="BO_DEL"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boGood" column="BO_GOOD"/>
		<result property="boCategory" column="BO_CATEGORY"/>
		<result property="boReNum" column="BO_RENUM"/>
		<result property="boWriterNick" column="ME_NICK"/>
	</resultMap>
	
	<select id="selectMyScrapList" parameterType="string" resultMap="scrapResultSet">
		select *
		from scrap s
     		 left join member m on (s.me_id = m.me_id)
     		 left join board b on (s.bo_num = b.bo_num)
		where s.me_id = #{userId} and bo_del = 'N'
	</select>
	
	<select id="selectRecentlyScrap" parameterType="string" resultMap="scrapResultSet">
		<![CDATA[
			select *
			from (select *
			      from scrap s
			           left join board b on (s.bo_num = b.bo_num)
			           left join member m on (s.me_id = m.me_id)
			      where s.me_id = #{userId} and bo_del = 'N'
			      order by scrap_date DESC) 
			where ROWNUM <= 5
		]]>
  </select> 
	
  <update id="recentlyBoard" parameterType="Member">
		update member
		<set>
			<if test="recent1 != 0">me_recent1 = #{recent1},</if>
			<if test="recent2 != 0">me_recent2 = #{recent2},</if>
			<if test="recent3 != 0">me_recent3 = #{recent3},</if>
			<if test="recent4 != 0">me_recent4 = #{recent4},</if>
			<if test="recent5 != 0">me_recent5 = #{recent5},</if>
		</set>
		where me_id = #{userId}
	</update>
	
	<select id="recentlyBoardList" parameterType="Member" resultMap="boardResultSet">
		select * from member 
		join board on (me_recent1 = bo_num)
		where me_id = #{userId}
			union
		select * from member 
		join board on (me_recent2 = bo_num)
		where me_id = #{userId}
			union
		select * from member 
		join board on (me_recent3 = bo_num)
		where me_id = #{userId}
			union
		select * from member 
		join board on (me_recent4 = bo_num)
		where me_id = #{userId}
		union
			select * from member 
		join board on (me_recent5 = bo_num)
		where me_id = #{userId}
	</select>
	
	<select id="recentlyScrapList" parameterType="Member" resultMap="boardResultSet">
		select *
		from (select * from scrap
		  	 join board using (bo_num)
			 where me_id = #{userId}
			 order by scrap_date desc)
		<![CDATA[
		where rownum <= 3
		]]>
	</select>
	  
	<select id="nickCheck" parameterType="Member" resultType="_int">
		select count(*)
		from member
		where me_nick = #{nickName}
	</select>
	
	<update id="updateMember" parameterType="Member">
		update member
		set me_pw = #{userPwd}, me_name = #{userName}, me_nick = #{nickName}, me_phone = #{phone}, me_email = #{email},
			me_intro = #{intro}
			<if test="account != null">
			, me_acount = #{account}	
			</if>
			<if test="account != null">
			, me_bank = #{bank}	
			</if>
		where me_id = #{userId}
	</update>
	
	<update id="insertGrade" parameterType="Request">
		update request
		set re_grade = #{reGrade}
		where re_num = #{reNum} and re_id = #{reId}
	</update>
	
	<select id="selectUserId" parameterType="Request" resultType="string">
		select me_id
		from member
		where me_nick = #{reId}
	</select>
	
	<select id="selectSecretYn" parameterType="string" resultType="string">
		select ME_EASY
		from member
		where me_id = ${userId}
	</select>
	
	<update id="updateSecretToggle" parameterType="string">
		update member
		set me_easy = 'Y'
		where me_id = ${userId}
	</update>  
	
	<select id="getMemberList" resultMap="memberResultSet">
		<![CDATA[
		select *
		from (select * from member
			  left join contents on (me_con_num = con_num)
			  where me_id != 'admin'
			  order by me_grade desc)
		where rownum <= 5
		]]>	
	</select>
	
	<select id="callTodayBoard" resultType="_int">
		select count(*) from board
		where bo_date = to_char(sysdate, 'yy/mm/dd')
	</select>
	
	<select id="callTodayReply" resultType="_int">
		select count(*) from reply
		where rp_date like to_char(sysdate,'yyyy/mm/dd') || '%'
	</select>
</mapper>

