<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messageMapper">
		
	<select id="getListCount" resultType="_int">
		select count(*)
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
		where RSG_ID = #{ loginUser } and rsg_del = 'N'	
		<if test='messageCate != "" and messageCate != null'>
			<choose>
				<when test='messageCate == "title"'>
					and msg_title like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "con"'>
					and msg_con like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "sender"'>
					and snick like '%' || #{keyword} || '%' 
				</when>
			</choose>
		</if>
	</select>
	
	<select id="selectMessageList" resultMap="MessageListSet">
	    SELECT RNUM, MSG_NUM, MSG_TITLE, MSG_DATE, MSG_CON, SSG_ID, RNICK, RSG_ID, SNICK, RSG_DEL, SSG_DEL, RSTATUS, SSTATUS
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
		WHERE RSG_ID = #{ loginUser } and rsg_del = 'N'
		<if test='messageCate != "" and messageCate != null'>
			<choose>
				<when test='messageCate == "title"'>
					and msg_title like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "con"'>
					and msg_con like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "sender"'>
					and snick like '%' || #{keyword} || '%' 
				</when>
			</choose>
		</if>		
	    order by msg_num desc
	</select>
	
	<select id="getSendListCount" resultType="_int">
		select count(*)
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
		where SSG_ID = #{ loginUser } and ssg_del = 'N'
		<if test='messageCate != "" and messageCate != null'>
			<choose>
				<when test='messageCate == "title"'>
					and msg_title like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "con"'>
					and msg_con like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "sender"'>
					and snick like '%' || #{keyword} || '%' 
				</when>
			</choose>
		</if>			
	</select>
	
	<select id="selectSendMessageList" resultMap="MessageListSet">
	    SELECT RNUM, MSG_NUM, MSG_TITLE, MSG_DATE, MSG_CON, SSG_ID, RNICK, RSG_ID, SNICK, RSG_DEL, SSG_DEL, RSTATUS, SSTATUS
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
		WHERE SSG_ID = #{ loginUser } and ssg_del = 'N'		
   		<if test='messageCate != "" and messageCate != null'>
			<choose>
				<when test='messageCate == "title"'>
					and msg_title like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "con"'>
					and msg_con like '%' || #{keyword} || '%' 
				</when>
				<when test='messageCate == "sender"'>
					and snick like '%' || #{keyword} || '%' 
				</when>
			</choose>
		</if>
	    order by msg_num desc
	</select>

	<select id="getMessageDetail" resultMap="MessageListSet">
		SELECT RNUM, MSG_NUM, MSG_TITLE, MSG_DATE, MSG_CON, SSG_ID, RNICK, RSG_ID, SNICK, RSG_DEL, SSG_DEL, RSTATUS, SSTATUS
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
	    where MSG_NUM = #{ msgNum }
	</select>
	
	<select id="getMessageSendDetail" resultMap="MessageListSet">
		SELECT RNUM, MSG_NUM, MSG_TITLE, MSG_DATE, MSG_CON, SSG_ID, RNICK, RSG_ID, SNICK, RSG_DEL, SSG_DEL, RSTATUS, SSTATUS
		FROM MSGLIST M
	    JOIN "MEMBER" ON (ME_ID = M.RSG_ID)
	    where MSG_NUM = #{ msgNum }
	</select>
	
	<update id="deleteMessages">
		update message
		set rsg_del = 'Y'
		where MSG_NUM in  
			<foreach collection="array" item="checkArr" open="(" close=")" separator=",">
				#{ checkArr }
 			</foreach>
	</update>
	
	<update id="deleteSendMessages">
		update message
		set ssg_del = 'Y'
		where MSG_NUM in
			<foreach collection="array" item="checkArr" open="(" close=")" separator=",">
				#{ checkArr }
 			</foreach>
	</update>
	
	
	<insert id="insertSendMessages">
			INSERT INTO MESSAGE VALUES (msg_seq.nextval, #{loginUser}, #{rsgId}, #{title}, SYSDATE, #{content}, 'N', 'N', NULL, NULL)
	</insert>
	
	
	<select id="getMessageListCount" resultType="_int">
		select count(*)
		FROM MESSAGE
		where RSG_ID = #{ loginUser } and rsg_del = 'N'
	</select>

	<resultMap type="Message" id="MessageListSet">
		<id property="msgNum" column="MSG_NUM"/>
		<result property="ssgId" column="SSG_ID"/>
		<result property="rsgId" column="RSG_ID"/>
		<result property="ssgNick" column="SNICK"/>
		<result property="rsgNick" column="RNICK"/>
		<result property="msgTitle" column="MSG_TITLE"/>
		<result property="msgDate" column="MSG_DATE"/>
		<result property="msgCon" column="MSG_CON"/>
		<result property="ssgDel" column="SSG_DEL"/>
		<result property="rsgDel" column="RSG_DEL"/>
		<result property="ssgStatus" column="SSG_STATUS"/>
		<result property="rsgStatus" column="RSG_STATUS"/>
	</resultMap>
</mapper>