<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="portpolioMapper">
	<insert id="enrollPortpolio" parameterType="Portpolio">
		insert into portpolio
		values(po_seq.nextval, #{poTitle}, #{poWriter}, #{poDesc}, #{poCategory}, SYSDATE, SYSDATE, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertPortpolioContents" parameterType="PortpolioContents">
		insert into po_contents
		values(poc_seq.nextval, po_seq.currval, #{pocOrigin}, #{pocModify}, #{pocPath}, DEFAULT)
	</insert>	  
</mapper>