<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaboardMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where b_status = 'Y'
	</select>

	<select id="selectList" resultMap="QnaResultSet">
		select *
		from board
		where q_status = 'Y'
		order by bno desc	
	</select>

	<resultMap type="board" id="QnaResultSet">
		<id property="boNum" column="BO_NUM"/>
		<result property="boTitle" column="BO_TITLE"/>
		<result property="boContent" column="BO_CON"/>
		<result property="boWriter" column="BO_WRITER"/>
		<result property="boDate" column="BO_DATE"/>
		<result property="boView" column="BO_VIEW"/>
		<result property="boDel" column="BO_DEL"/>
	</resultMap>
	
	
	<update id="delectBoard">
		update board
		set bo_del 
		
	</update>	


	<update id="boardUpdate">
		update board
		set bo_title = #{boTitle}, bo_con = #{boContent}
		where bo_num= #{boNum}
	</update>
	
</mapper> 