<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">
	<select id="getReplyList" resultMap="replyResultSet">
		select r.*, m.me_nick
		from reply r
    		join member m on(r.rp_writer = m.me_id)
		where rp_refnum = #{boNum} and rp_rp is null
		order by rp_date
	</select>
	
	<select id="getReplyList2" resultMap="replyResultSet">
		select r.*, m.me_nick
		from reply r
		    join member m on(r.rp_writer = m.me_id)
		where rp_refnum = #{boNum} and rp_rp is not null
		order by rp_date
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rpNum" column="RP_NUM"/>
		<result property="rpContent" column="RP_CON"/>
		<result property="rpDate" column="RP_DATE"/>
		<result property="rpStatus" column="RP_DEL"/>
		<result property="refNum" column="RP_REFNUM"/>
		<result property="rpWriter" column="RP_WRITER"/>
		<result property="rpConNum" column="RP_CON_NUM"/>
		<result property="rpRp" column="RP_RP"/>
		<result property="rpWriterNick" column="ME_NICK"/>
	</resultMap>
	
	<insert id="insertReply">
		insert into reply
		values(
			rp_seq.nextval
			, #{rpContent}
			, to_char(sysdate,'yyyy/mm/dd hh24:mi:ss')
			, default
			, #{refNum}
			, #{rpWriter}
			<choose>
				<when test="rpConNum == 1">
				, con_seq.currval
				</when>
				<otherwise>
				, null
				</otherwise>
			</choose>
			<choose>
				<when test="rpRp == 0">
				, null
				</when>
				<otherwise>
				, #{rpRp}
				</otherwise>
			</choose>
		)
	</insert>
</mapper>
