<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.WDWD.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.WDWD.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.WDWD.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.WDWD.cash.model.vo.PointNCash" alias="PointNCash"/>
		<typeAlias type="com.kh.WDWD.cBoard.model.vo.CBoard" alias="CBoard"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/cash-mapper.xml"/>
    	<mapper resource="mappers/cBoard-mapper.xml"/>
	</mappers>
</configuration>
