<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.WDWD.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.WDWD.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.WDWD.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.WDWD.cash.model.vo.PointNCash" alias="PointNCash"/>
		<typeAlias type="com.kh.WDWD.cBoard.model.vo.CBoard" alias="CBoard"/>
		<typeAlias type="com.kh.WDWD.guideboard.model.vo.Guideboard" alias="Guide"/>
		<typeAlias type="com.kh.WDWD.request.model.vo.Request" alias="Request"/>
		<typeAlias type="com.kh.WDWD.contents.model.vo.Contents" alias="Contents"/>
		<typeAlias type="com.kh.WDWD.cBoard.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.kh.WDWD.portpolio.model.vo.Portpolio" alias="Portpolio"/>
		<typeAlias type="com.kh.WDWD.portpolio.model.vo.PortpolioContents" alias="PortpolioContents"/>
		<typeAlias type="com.kh.WDWD.portpolio.model.vo.PortpolioReply" alias="PortpolioReply"/>
		<typeAlias type="com.kh.WDWD.message.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.WDWD.author.model.vo.Declaration" alias="Declaration"/>
		<typeAlias type="com.kh.WDWD.author.model.vo.BanList" alias="BanList"/>
		<typeAlias type="com.kh.WDWD.author.model.vo.BanPageUserList" alias="BanPageUserList"/>
		<typeAlias type="com.kh.WDWD.author.model.vo.Ban" alias="Ban"/>
		<typeAlias type="com.kh.WDWD.pointShop.model.vo.PointShop" alias="PointShop"/>
		<typeAlias type="com.kh.WDWD.board.model.vo.Scrap" alias="Scrap"/>
		<typeAlias type="com.kh.WDWD.author.model.vo.Dispute" alias="Dispute"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/cash-mapper.xml"/>
	    <mapper resource="mappers/cBoard-mapper.xml"/>
	   	<mapper resource="mappers/portpolio-mapper.xml"/>
	   	<mapper resource="mappers/contents-mapper.xml"/>
	   	<mapper resource="mappers/reply-mapper.xml"/>
	    <mapper resource="mappers/guideboard-mapper.xml"/>
	    <mapper resource="mappers/message-mapper.xml"/>
	    <mapper resource="mappers/author-mapper.xml"/>
	    <mapper resource="mappers/pointShop-mapper.xml"/>
	</mappers>
	
</configuration>
